@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0984e3;
}

.dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dropdown-item .imgBox {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 150px;
    top: 50px;
}

.dropdown-item .imgBox img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    cursor: pointer;
}

.dropdown-item .dropdown-content {
    background: #FFF;
    padding: 20px 30px;
    border-radius: 10px;
    position: absolute;
    left: 70px;
    top: 135px;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    margin-left: 20px;
    transition: .3s;
}

.dropdown-item .dropdown-content::before {
    content: "";
    position: absolute;
    left: 90px;
    top: 0%;
    background: #FFF;
    width: 12px;
    height: 12px;
    transform: translateY(-50%) rotate(45deg);
}

.dropdown-item .dropdown-content .content .name {
    font-weight: 800;
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 5px;
    color: #111;
}

.dropdown-item .dropdown-content .content .occupation {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    color: #111;
}

.dropdown-item .dropdown-content .links li {
    list-style: none;
    line-height: 30px;
}

.dropdown-item .dropdown-content .links li a {
    text-decoration: none;
    color: #333;
}

.dropdown-item .dropdown-content .links li a i {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}

.dropdown-item .divider {
    margin: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.dropdown-item .dropdown-toggle {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    position: absolute;
    left: 50px;
    z-index: -1;


}

td, th {
    border: 1px solid #fff;
    text-align: left;
    padding: 10px;
    z-index: -1;
}

tr:nth-child(even) {
    background-color: #fff;
    z-index: -1;
}


h1 {
    text-align: center;
}


.container {
    top: 30%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}


.ui-widgets {
    position: relative;
    right: -300px;
    top: 150px;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border-radius: 9rem;
    margin: 1.5rem;
    border: 1.2rem solid white;
    box-shadow: inset 0 0 7px grey;
    border-left-color: white;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: blue;
    text-align: center;
    box-sizing: border-box;
}


child of ui-widgets class *
.ui-widgets:nth-child(2) {
    border-top-color: white;
    border-right-color: blue;
    border-left-color: white;
    border-bottom-color: blue;
}


.ui-widgets .ui-values {
    top: 40px;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 1.0rem;

}


.ui-widgets .ui-labels {

    left: 0;
    bottom: 80px;
    text-shadow: 0 0 4px grey;
    color: white;
    position: absolute;
    width: 100%;
    font-size: 25px;
}


body {
    padding: 20px;
}
.short_link {
    border: 1px solid #000;
    background: yellow;
    position: absolute;
    left:800px;
    bottom: 150px;
    padding: 20px 30px;
    text-align: center;
    width: 550px;
    cursor: pointer;
    display: block;
    font-family: Monaco, monospace; cursor: pointer;
    font-size: 15px;
}
