<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Shortener Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<section id="home" type="coloring">
    <header>
        <a href="#"><img th:src="@{/images/shortlink.png}" width="200px"alt="">
        </a>
        <ul id="menu">
                <li sec:authorize="isAnonymous()"><a href="login">Login</a></li>
                <li sec:authorize="isAnonymous()"><a href="register">Sign up</a></li>
                <li sec:authorize="isAuthenticated()"><a href="user/home"><span sec:authentication="principal.username"></span></a></li>
                <li sec:authorize="isAuthenticated()"><a href="logout">Logout</a></li>
        </ul>
    </header>
</section>

<div class="container">
    <form th:action="@{generate}" th:object="${urlData}" method="POST">
        <label class="title"><h1>Url</h1></label>
        <br>
        <input type="text" id="originalUrl" name="originalUrl">
        <input type="submit" name="submit" class="sub">
        <br>
        <span th:if="${#fields.hasErrors('originalUrl')}" th:errors="${urlData.originalUrl}"></span>
        <br>
        <label class="title1">Expiry</label>
        <br>
        <input class="expire" type="number" id="expiryHours" name="expiryHours" min="1" value="1">
        <br><br>
        <label>Short Link:</label>
        <p th:text="${Url?.getShortenedURL()}"/>

    </form>

</div>


</body>





</html>