<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{generate}" th:object="${UrlData}" method="POST">
        <label>Url MUST be valid!</label><br>
        <label>Url</label>
        <input type="text" id="originalUrl" name="originalUrl" pattern="\S*\.\S*">
        <label>Expiry:</label>
        <input type="number" id="expiryHours" name="expiryHours" min="1" value="1">
        <label> Hours</label>
        <br>
        <input type="submit" name="submit">
    </form>
    <label>Short Link:</label>
    <p th:text="${Url.getShortenedURL()}"/>
</body>
</html>