<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ededed;">
	<div style="background-color: #337ab7; height: 50px;"></div>
	<div class="container-fluid" style="margin-top: 30px;">

		<div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
			<form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post" class="form-signin" role="form">
				<h3 class="form-signin-heading">Registration Form</h3>
				<div class="form-group">
					<div class="">
						<input type="text" name="email" th:field="*{email}" placeholder="Email" class="form-control" />
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<input type="text" name="username" th:field="*{username}" placeholder="Userame" class="form-control" />
						<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email Error</span>
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<input type="password" name="plainpassword" th:field="*{plainpassword}" placeholder="Password" class="form-control" />
						<span th:if="${#fields.hasErrors('plainpassword')}" th:errors="*{plainpassword}">Email Error</span>
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<input type="password" name="repeatpassword" th:field="*{repeatpassword}" placeholder="Repeat Password" class="form-control" />
						<span th:if="${#fields.hasErrors('repeatpassword')}" th:errors="*{repeatpassword}">Email Error</span>
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-primary btn-block">Register User</button>
					</div>
				</div>
				<div class="alert alert-success alert-dismissible col-sm-12"
					 th:if="${SuccessMessage!=null}">
					<span>Registration Success!</span>
					<a href="/login">Go to login</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>